.venv
.env
openai_key.txt
together_ai_key.txt

*.json
mathQA/
2_answer_math_qs/evaluation_results

openfoodfacts_nutrition_final_2025-12-10.csv
/data/jane/math_gender/conversion_test/food_data/train.json
/data/jane/math_gender/conversion_test/conversion_results
/data/jane/math_gender/conversion_test/conversion_results/summary_by_cuisine_20251214_092730.csv
conversion_test/conversion_results/
conversion_test/language_conversion_results
conversion_test/test_results_medium/
conversion_test/test_results/
*.sh
*.sbatch
conversion_test/fix_timezone_answers.py
conversion_test/analysis_output/
conversion_test/slurm_logs
conversion_test/full_results/results
conversion_test/full_results/results_math_only
conversion_test/full_results/results_no_guide
conversion_test/sbatch_jobs

# include
!conversion_test/conversions/

